Repository KingInYellow18/medianest, changes with the owners that .github/CODEOWNERS names for each.
All owners: @maintainers, @backend-team, @api-reviewers, @senior-backend, @security-reviewers, @database-reviewers, @qa-team, @frontend-team, @ui-reviewers, @frontend-leads, @react-experts, @typescript-experts, @devops-team, @ci-cd-reviewers, @infrastructure-team, @documentation-team

.github/CODEOWNERS:

# Global code owners - all changes require review from maintainers
* @maintainers

# Backend specific ownership
/backend/ @backend-team @maintainers
/backend/src/controllers/ @backend-team @api-reviewers
/backend/src/services/ @backend-team @senior-backend
/backend/src/middleware/ @backend-team @security-reviewers
/backend/prisma/ @backend-team @database-reviewers
/backend/tests/ @backend-team @qa-team

# Frontend specific ownership  
/frontend/ @frontend-team @maintainers
/frontend/src/components/ @frontend-team @ui-reviewers
/frontend/src/pages/ @frontend-team @frontend-leads
/frontend/src/hooks/ @frontend-team @react-experts
/frontend/tests/ @frontend-team @qa-team

# Shared code requires both teams
/shared/ @backend-team @frontend-team @maintainers
/shared/src/types/ @backend-team @frontend-team @typescript-experts
/shared/src/utils/ @backend-team @frontend-team
/shared/tests/ @backend-team @frontend-team @qa-team

# Infrastructure and DevOps
/.github/ @devops-team @maintainers
/.github/workflows/ @devops-team @ci-cd-reviewers @security-reviewers
/docker* @devops-team @infrastructure-team
*.yml @devops-team
*.yaml @devops-team

# Configuration files - require extra scrutiny
package.json @maintainers @security-reviewers
package-lock.json @maintainers
*/package.json @maintainers
*/package-lock.json @maintainers
.env* @maintainers @security-reviewers
*.config.* @maintainers @devops-team

# Database and migrations
/prisma/ @backend-team @database-reviewers @maintainers
*/migrations/ @backend-team @database-reviewers @maintainers
**/schema.prisma @backend-team @database-reviewers @maintainers

# Security sensitive files
/.github/workflows/security-scanning.yml @security-reviewers @devops-team @maintainers
/.github/workflows/branch-protection.yml @security-reviewers @devops-team @maintainers

# Documentation
/docs/ @documentation-team @maintainers
README.md @documentation-team @maintainers
*.md @documentation-team

# Testing configuration
/tests/ @qa-team @maintainers
**/tests/ @qa-team
*.test.* @qa-team
*.spec.* @qa-team

# Build and deployment
/scripts/ @devops-team @maintainers
Dockerfile* @devops-team @infrastructure-team
docker-compose* @devops-team @infrastructure-team

feat: Update .gitignore to include Claude Flow generated files and runtime coordination
  .gitignore
Owners: @maintainers

feat(docs): add JavaScript enhancements, contributing guide, Docker configuration, tags documentation
  .gitignore
  docs/assets/extra.css
  docs/assets/extra.js
  docs/contributing/guide.md
  docs/reference/docker.md
  docs/tags.md
Owners: @maintainers, @documentation-team

feat: Hive mind sync preparation - stage all workflow enhancements
  .github/branch-protection.json
  .github/workflows/README.md
  .github/workflows/dependency-update.yml
  .github/workflows/monitoring-dashboard.yml
  .github/workflows/quality-gates.yml
  .github/workflows/sync-coordinator.yml
  .github/workflows/version-alignment.yml
  .gitignore
  CLAUDE.md
  git-branch-audit-report.md
  memory/agents/README.md
  memory/sessions/README.md
Owners: @devops-team, @maintainers, @documentation-team

build: Update .gitignore to include local development tools and AI artifacts
  .gitignore
Owners: @maintainers

docs: Add comprehensive project documentation and configuration templates
  .env.staging.template
  COMPREHENSIVE_CLEANUP_REPORT.md
  HIVE_MIND_OPTIMIZATION_COMPLETE.md
  MEDIANEST_COMPREHENSIVE_CLEANUP_REPORT.md
  TASK_MANAGER_SYNTHESIS_REPORT.md
  backend/.env.test.example
Owners: @maintainers, @security-reviewers, @documentation-team, @qa-team
